*{
    margin: 0px;
    padding: 0px;
}
#navbar{
    background-color: black;
    height: 58px;
}
#navbar ul{
    list-style: none;
    display: flex;
}
#navbar ul li{
padding: 12px;
}
#navbar ul li  a{
    color: gray;
    font-family: 'Ramabhadra', sans-serif;
    text-decoration: none;
    padding: 42px;
}
#navbar a:hover{
    color: white;
}
a#login{
    background: url(./login3.png) center;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40px;
    /* display: flex; */
    flex-direction: row-reverse;
    position: absolute;
    left: 1408px;
    top: -29px;
}
#logoImage{
    height: 43px;
    padding: 5px;
    /* align-content: flex-start; */
}
.dropdown .dropbtn{
    border: none;
    outline: none;
    background-color: inherit;
    color: gray;
    font-family:'Ramabhadra', sans-serif ;
    font-size: inherit;
    margin: 13px;
    
}
.dropdowncontent a {
    font-family:'Ramabhadra', sans-serif ;
    float: none;
    color: gray;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  .dropdowncontent{ 
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown:hover .dropdowncontent {
    display: block;
  }
.dropdown .dropbtn:hover{
    color: white;
}
.dropdowncontent a:hover{
    background-color: gray;
    color: white;

}
#mobile{
    border: 2px solid;
    border: none;
    border-radius: 14px;
    width: 31%;
    height: 300px;
    display: inline-block;
    margin-left: 146px;
    margin-top: 23px;
}
#mobile:hover{
    box-shadow: 3px 3px 13px 13px gray;
    box-sizing: border-box;
}
.container1{
    display: inline;
    position: absolute;
    left: 255px;
    top: 63px;
}
.container1 img{
    height: 211px;
    margin-top: 24px;
}
.mobilenote{
    font-family: 'Ramabhadra', sans-serif;
    position: absolute;
    top: 329px;
    left: 151px;
}
#PC{
    border: 2px solid;
    border: none;
    border-radius: 14px;
    width: 31%;
    height: 300px;
    display: inline-block;
    margin-left: 246px;
    margin-top: 23px;
}
#PC:hover{
    box-shadow: 3px 3px 13px 13px gray;
    box-sizing: border-box;
}
.container2{
    display: inline;
    position: absolute;
    left: 1056px;
}
.container2 img{
    position: absolute;
    left: -68px;
    top: 0px;
    
}
.PCnote{
    font-family: 'Ramabhadra', sans-serif;
    position: absolute;
    top: 330px;
    left: 970px;
}
#emulator{
    border: 2px solid ;
    border: none;
    border-radius: 14px;
    width: 31%;
    height: 300px;
    display: inline-block;
    margin-left: 506px;
    margin-top: 32px;
}
#emulator:hover{
    box-shadow: 3px 3px 13px 13px gray;
    box-sizing: border-box;
}
.container3{
    display: inline;
    position: absolute;
    left: 630px;
    top: 419px;
}
.emulatornote{
    font-family: 'Ramabhadra', sans-serif;
    position: absolute;
    top: 668px;
    left: 529px;

}